In [137]:
import datatable as dt 
import pandas as pd

In [138]:
dataT=dt.fread("C:\\Users\\Dave\\Downloads\\RNLI_Returns_of_Service.csv")

In [139]:
dataT

In [151]:
df=dataT.to_pandas()

In [152]:
df.columns

Index(['X', 'Y', 'OBJECTID', 'AIC', 'LifeboatStationNameProper', 'LaunchTime',
       'YearOfCall', 'LifeboatClass', 'LifeboatNumber', 'RoSType',
       'CasualtyCategory', 'CasualtyTypeFull', 'ReasonForLaunch',
       'OutcomeOfService', 'Activity', 'VisibilityAtIncident',
       'WeatherAtIncident', 'SeaConditionsAtIncident', 'WeatherAtLaunch',
       'VisibilityAtLaunch', 'WindDirectionAtLaunch', 'SeaConditionsAtLaunch',
       'DateOfLaunch', 'ROSNumber', 'GlobalID', 'CreationDate', 'Creator',
       'EditDate', 'Editor'],
      dtype='object')

In [153]:
df2 = df[['AIC','LifeboatStationNameProper','DateOfLaunch','SeaConditionsAtLaunch','ReasonForLaunch']]

In [154]:
df2

,AIC,LifeboatStationNameProper,DateOfLaunch,SeaConditionsAtLaunch,ReasonForLaunch
0,Motorboating - Other reason,BEMBRIDGE,2016/01/01 00:00:00+00,SMOOTH,Stranding or grounding
1,Hoax and false alarm,ILFRACOMBE,2016/01/01 00:00:00+00,SLIGHT,Marine Debris or Object
2,Commercial fishing - Other reasons,DUNGENESS,2016/01/01 00:00:00+00,ROUGH,Machinery failure
3,Hoax and false alarm,ILFRACOMBE,2016/01/01 00:00:00+00,SLIGHT,Marine Debris or Object
4,Waterside activity - On shore,TOWER,2016/01/01 00:00:00+00,SLIGHT,Person in distress
...,...,...,...,...,...
112242,Other,BLACKPOOL,2020/12/28 02:15:00+00,SLIGHT,Unknown
112243,Person in distress,LOUGH SWILLY,2020/09/06 13:50:00+00,MOD/CHOP,Unknown
112244,Motorboat,LOUGH SWILLY,2020/09/06 16:49:00+00,MOD/CHOP,Machinery Failure
112245,Motorboat,LOUGH SWILLY,2020/09/15 11:19:59+00,MOD/CHOP,Machinery Failure
112246,False alarm,LOUGH SWILLY,2020/12/01 13:27:00+00,CALM,Unknown

In [155]:
df2.isna().sum(axis=0)

AIC                          0
LifeboatStationNameProper    0
DateOfLaunch                 0
SeaConditionsAtLaunch        0
ReasonForLaunch              0
dtype: int64

In [156]:
df2['Launch_Date']=df2.DateOfLaunch.astype("datetime64").dt.strftime('%d/%m/%Y')

<ipython-input-156-d314a1b604f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Launch_Date']=df2.DateOfLaunch.astype("datetime64").dt.strftime('%d/%m/%Y')

In [157]:
df2['Launch_Month']=df2.DateOfLaunch.astype("datetime64").dt.strftime('%m/%Y')

<ipython-input-157-99cdaae1a42e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Launch_Month']=df2.DateOfLaunch.astype("datetime64").dt.strftime('%m/%Y')

In [158]:
df2.sort_values(by="Launch_Date",inplace=True)

<ipython-input-158-f07dde718f32>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.sort_values(by="Launch_Date",inplace=True)

In [159]:
df2= df2.reset_index(drop=True)

In [160]:
df2 = df2[['AIC','LifeboatStationNameProper','SeaConditionsAtLaunch','ReasonForLaunch','Launch_Date','Launch_Month']]
df2.head()

,AIC,LifeboatStationNameProper,SeaConditionsAtLaunch,ReasonForLaunch,Launch_Date,Launch_Month
0,"Motorboating - Fire, explosion, capsize or col...",DOVER,CALM,Capsize,01/01/2008,01/2008
1,Angling from shore - Fall from cliff,ARBROATH,SLIGHT,Injured,01/01/2008,01/2008
2,Angling from shore - Fall from cliff,ARBROATH,SLIGHT,Injured,01/01/2008,01/2008
3,Person in distress,PENLEE,CALM,In danger of drowning,01/01/2008,01/2008
4,Other marine vessels - Ill crewman,TOWER,CALM,Ill crewman on vessel,01/01/2008,01/2008

In [167]:
monthMAY2020 = df2.loc[df2['Launch_Month']=="05/2020"]
monthDec2019 = df2.loc[df2['Launch_Month']=="12/2019"]

In [169]:
conditionsDec2019 = monthDec2019["SeaConditionsAtLaunch"].value_counts()
conditionsDec2019.to_csv("D:\conditionsDec2019.csv")

In [170]:
conditionsMay2020=monthMAY2020["SeaConditionsAtLaunch"].value_counts()
conditionsMay2020.to_csv("D:\conditionsMay2020.csv")

In [135]:
df2["SeaConditionsAtLaunch"].value_counts()

SLIGHT        31970
SMOOTH        30523
CALM          27475
CHOPPY        10025
MOD/CHOP       4731
GLASS CALM     3899
ROUGH          3292
VERY ROUGH      210
HIGH             71
                 43
VERY HIGH         5
PHENOMENAL        3
Name: SeaConditionsAtLaunch, dtype: int64

In [124]:
value = []
for i in range(len(df2)):
    value.append(1)

In [125]:
df2['value'] = value
df2.head()

,AIC,LifeboatStationNameProper,SeaConditionsAtLaunch,ReasonForLaunch,Launch_Date,value
0,"Motorboating - Fire, explosion, capsize or col...",DOVER,CALM,Capsize,01/01/2008,1
1,Angling from shore - Fall from cliff,ARBROATH,SLIGHT,Injured,01/01/2008,1
2,Angling from shore - Fall from cliff,ARBROATH,SLIGHT,Injured,01/01/2008,1
3,Person in distress,PENLEE,CALM,In danger of drowning,01/01/2008,1
4,Other marine vessels - Ill crewman,TOWER,CALM,Ill crewman on vessel,01/01/2008,1

In [128]:
df2.dtypes

AIC                          object
LifeboatStationNameProper    object
SeaConditionsAtLaunch        object
ReasonForLaunch              object
Launch_Date                  object
value                         int64
dtype: object

In [129]:
df2["Launch_Date"] = pd.to_datetime(df2["Launch_Date"])
print(df2.dtypes)

AIC                                  object
LifeboatStationNameProper            object
SeaConditionsAtLaunch                object
ReasonForLaunch                      object
Launch_Date                  datetime64[ns]
value                                 int64
dtype: object

In [55]:
import numpy as np

In [86]:
df3 = df2.groupby(by=['Launch_Date']).agg({'value':np.sum})

In [87]:
df3.sort_values(by='Launch_Date')

             value
Launch_Date
2008-01-01      17
2008-01-02       7
2008-01-03      16
2008-01-04      18
2008-01-05      12
...            ...
2020-12-27       9
2020-12-28       9
2020-12-29      17
2020-12-30      11
2020-12-31      12

[4745 rows x 1 columns]

In [88]:
df3.head()

             value
Launch_Date
2008-01-01      17
2008-01-02       7
2008-01-03      16
2008-01-04      18
2008-01-05      12

In [89]:
df3.dtypes

value    int64
dtype: object

In [92]:
df3 = df3.resample('M', convention='end').sum()

In [97]:
df3

             value
Launch_Date
2008-01-31     453
2008-02-29     484
2008-03-31     487
2008-04-30     620
2008-05-31     825
...            ...
2020-08-31    1163
2020-09-30     894
2020-10-31     570
2020-11-30     512
2020-12-31     474

[156 rows x 1 columns]

In [98]:
df3.to_csv("D:\RNLI_Callouts.csv")